@media screen and (min-width: 480px) and (max-width: 800px) {
    ul{
        text-align: center;
    }
    /*-------------------------Area de Destaque-------------------------*/
    .destaque{
        padding: 80px;
        height: auto;
    }
    .destaque-title{
        font-size: 26px;
    }
    .destaque-text{
        font-size: 15px;
    }
    .destaque-button{
        display: block;
        width: 100%;
    }
    /*-------------------------Area de Destaque-------------------------*/
    .content-main {
        padding: 30px;
    }
}

@media screen and (max-width:479px) {
    ul{
        text-align: center;
    }
    li.menu-link{
        display: block;
        margin: 10px;
    }
    /*-------------------------Area de Destaque-------------------------*/
    .destaque{
        padding: 80px 15px;
        height: auto;
    }
    .destaque-title{
        font-size: 24px;
    }
    .destaque-text{
        font-size: 15px;
    }
    .destaque-button{
        display: block;
        width: 100%;
    }

    /*-------------------------Area de Destaque-------------------------*/
    .content-main {
        padding: 15px;
    }

    /*-------------------------Area de Contato-------------------------*/
    .contato{
        padding: 30px 15px;
    }
}

@media screen and (min-width: 801px){
    .lg-3{width: 33.333333%;}
    .lg-2{width: 20%;}
    .lg-8{width: 80%;}
}