*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
 }

/*-----------------Inicio Nav-bar-----------------*/

.nav-bar{
    background-color: rgb(3, 3, 80);
    height: auto;
}

ul{
    text-align: right;
    margin: 0px;
    padding: 20px;
}

li{
    margin: 10px;
    display: inline-block;
}

.list-link {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

a{
    list-style-type: none;
}

/*-----------------Fim Nav-bar-----------------*/

/*-----------------Inico do Destaque-----------------*/
.destaque{
    background-image: url(../imgs/professional-programmer-working-late-in-the-dark-office.jpg);
    background-size: cover;
    height: 80vh;
    background-repeat: no-repeat;
    padding: 100px 100px 0px 100px;
    text-align: center;
    color: rgb(255, 255, 255);
}

.destaque-title{
    font-size: 38px;
}

.destaque-text{
    font-size: 16px;
}

.destaque-button{
    font-size: 14px;
    text-transform: uppercase;
    color: #ffffff;
    background-color: rgb(6, 113, 175);;
    border: none;
    border-radius: 10px;
    padding: 10px 15px;
    margin-top: 15px;
}

.destaque-button:hover {
    background-color: rgb(172, 170, 170);
}
/*-----------------Fim do Destaque-----------------*/

/*-----------------Conteudo princiapl-----------------*/
.content-main{
    background-color: rgb(255, 255, 255);
    height: auto;
    padding: 100px;
}

.content-icon{
    text-align: center;
    width: 100%;
    display: block;
}

.content-title{
    text-align: center;
    font-size: 26px;
    font-weight: 500;
}

.content-text{
    text-align: center;
    font-size: 15px;
    font-weight: 500;
}
/*-----------------Fim do content - main-----------------*/

/*-----------------Inicio-----------------*/
.contato{
    background-color:grey;
    height: auto;
    padding: 100px;
}

.white{
    color: #ffffff;
}

.t-center{
    text-align: center;
}

.full{
    display: block;
    width: 100%;
}

.no-margin-button-top{
    margin-top: 0px;
}

/*-----------------Fim-----------------*/
.footer{
    color: #ffffff;
    background-color: black;
    height: auto;
    padding: 15px;

}
.footer ul{
    padding: 0px;
}

.footer li.footer-list{
    display: block;
    text-align: left;
    margin: 10px;
}
.footer a{
    text-decoration: none;
}

.footer p, a{
    color: #ffffff;
}