*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
 }

/*-----------------Inicio Nav-bar-----------------*/

.nav-bar{
    background-color: rgb(3, 3, 80);
    height: auto;
}

ul{
    text-align: right;
    margin: 0px;
    padding: 20px;
}

li{
    display: inline-block;
}

.list-link {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

a{
    list-style-type: none;
}

/*-----------------Fim Nav-bar-----------------*/

/*-----------------Inico do Destaque-----------------*/
.destaque{
    background-image: url(../imgs/professional-programmer-working-late-in-the-dark-office.jpg);
    background-size: cover;
    height: 70vh;
    background-repeat: no-repeat;
    padding: 150px 50px 0px 50px;
    text-align: center;
    color: rgb(255, 255, 255);
}

.destaque-title{
    font-size: 30px;
}

.destaque-text{
    font-size: 14px;
}

.destaque-button{
    text-transform: uppercase;
    border: none;
    border-radius: 10px;
    padding: 10px;
    margin-top: 30px;
}

.destaque-button:hover {
    background-color: rgb(172, 170, 170);
}
/*-----------------Fim do Destaque-----------------*/

/*-----------------Conteudo princiapl-----------------*/
.content-main{
    background-color: rgb(255, 255, 255);
    height: auto;
    padding: 100px;
}

.content-icon{
    text-align: center;
    width: 100%;
    display: block;
}

.content-title{
    text-align: center;
    font-size: 26px;
    font-weight: 500;
}

.content-text{
    text-align: center;
    font-size: 15px;
    font-weight: 500;
}

.contato{
    background-color:cornflowerblue;
    height: 60px;
}

.footer{
    background-color: black;
    height: 60px;
}