/*-----------------Inicio Nav-bar-----------------*/

.nav-bar{
    background-color: rgb(3, 3, 80);
    height: auto;
}

ul{
    text-align: right;
    margin: 0px;
    padding: 20px;
}

li{
    margin: 10px;
    display: inline-block;
}

.list-link {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

a{
    list-style-type: none;
}

/*-----------------Fim Nav-bar-----------------*/

/*-------------------------Inico do Destaque-------------------------*/
.destaque{
    background-image: url(../imgs/professional-programmer-working-late-in-the-dark-office.jpg);
    background-size: cover;
    height: 70vh;
    background-repeat: no-repeat;
    padding: 150px 100px 0 100px;
    text-align: center;
    color: rgb(255, 255, 255);
}

.destaque-title{
    font-size: 36px;
}

.destaque-text{
    font-size: 16px;
    
}

.destaque-button{
    text-transform: uppercase;
    border: none;
    border-radius: 10px;
    padding: 10px;
    margin-top: 15px;
}

.destaque-button:hover {
    background-color: rgb(172, 170, 170);
}
/*-------------------------Fim do Destaque-------------------------*/

.content-main{
    background-color: brown;
    height: 60px;
}

.contato{
    background-color:cornflowerblue;
    height: 60px;
}

.footer{
    background-color: black;
    height: 60px;
}